<% layout('layout/boilerplate') %>  
<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center">Edit Campground</h1>
        <div class="form">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="campground[title]" value="<%=campground.title %>">
                  </div>
                  <div class="mb-3">
                      <label for="location" class="form-label">Location</label>
                      <input type="text" class="form-control" id="location" aria-describedby="emailHelp" name="campground[location]" value="<%=campground.location %>">
                  </div>
                  <div class="mb-3">
                      <label for="location" class="form-label">Image URL</label>
                      <input type="text" class="form-control" id="location" aria-describedby="emailHelp" name="campground[image]" value="<%=campground.image %>">
                  </div>
                  <div class="input-group">
                      <span class="input-group-text">Description</span>
                      <textarea class="form-control" name="campground[description]" aria-label="With textarea"><%=campground.description %></textarea>
                  </div>                  
                  <div class="input-group my-3">
                      <label for="price" class="form-label">Campground Price</label>
                      <div class="input-group">
                          <span class="input-group-text" id="price-label">$</span>
                          <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>">
                      </div>
                      
                  </div>
                  <button type="submit" class="btn btn-dark mb-4">Submit</button>
            </form>
        </div>
    </div>
</div> 
<a href="/campgrounds/<%= campground._id%>" class="text-center link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back To Campground</a>

